.navbar, .content, footer {
    margin: 0 auto;
}

.link-div {
    margin-bottom: 1em;
}
.comment {
    line-height: 3em;
}

.my-form-group {
    float: left;
    clear: both;
}
.my-form-group label, .my-form-group div {
    float: left;
}

h1, h2, h3, h4,h5 {
    text-align: center;
}

.pagination {
    float: right;
}

footer {
    padding:15px;
    clear:both;
}

.absolute-btn {
    position: absolute;
    top: 5px;
    right: 10%;
}

.absolute-btn .am-btn {
    float:right;
}

footer {
    height: 3em;
    border-top : 1px solid #ddd;
    margin-top : 20px;
}
.comment-list strong {

    color: #2A2925;
}
.comment-list a{
    cursor: default;
    text-decoration: none;
    color: #999;
}